/* Navbar Heading */
.text-style {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    padding-left: 20px;
}

/* background color on side navbar */
.sidenav {
    background-color: #607d8b;
}

/* color of menu items on side navbar */
.sidenav li>a {
    color: white;
}

/* Heading color on navbar */
h4 {
    color: white;
}

/* Styling the flased messages */
.flases h4 {
    line-height: 3;
}

/* Styling the image on the recipe */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

/* Styling for Done & Edit Buttons */
.btn-small {
    margin: 3px;
}

.probtn {
    margin: 15px;
}

/* Styling for the Utensils beside the logo */
nav .nav-wrapper .brand-logo i {
    float: none;
}

/* Stlying strong element in collapsible header */
.collapsible-header .col strong {
    margin: 6px;
    line-height: 45px;
}

/* Styling the image on profile page */
.responsive {
    width: 100%;
    height: auto;
}

/* Styling for the black line on error pages */
.blackline {
    width: 70%;
    border: 1px solid;
}