{% extends "base.html" %}
{% block content %}

<h2 class="center-align white-text blue-grey">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                </div>
            </div>
        </form>
    </div>

    {% endblock %}