{% extends "base.html" %}
{% block content %}

<ul class="collapsible popout">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text blue-grey text-style">
            <i class="fas fa-caret-down"></i>
            <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.created_by }}
        </div>
        <div class="collapsible-body">
            <strong>{{ recipe.category_name }}</strong><br>
            <img src={{ recipe.image_url }} alt="" width="300" height="500" class="center"><br>
            <strong>Serves:</strong> {{ recipe.serves }}<br>
            <strong>Prep Time:</strong> {{ recipe.prep_time }}<br>
            <strong>What you need:</strong> {{ recipe.ingredients }}<br>
            <p><strong>What to do:</strong></p>
            <p>{{ recipe.method }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}